# Object files
*.o
*.obj

# Binaries
softsynth/softsynth
softsynth/softsynth.exe
softsynth/softsynth-packed
editor/editor
editor/editor.exe
editor/test
editor/test.exe

# Core dump files
*.stackdump
core

# Emacs backup files
*~

#Visual studio specific files
.vs
Debug
*.user
SDL.dll
packages
