
# Core dump files
*.stackdump
core

# Emacs backup files
*~

#Visual studio specific files
.vs
Debug
*.user
SDL.dll
packages

# MacOS specific files
.DS_Store
._*

# Log files
*.log
logs/

# Compiled binary object and library files
bin/
obj/
*.so

# Python
.venv
__pycache__/
build/
.pytest_cache/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
.eggs/

